<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default('11ty + Nunjucks + Tailwind Template') | safe }}</title>

    <link rel="stylesheet" href="/assets/css/style.css" media="all" />
</head>
<body>
    <header>header</header>
    <main id="main-container">
        {{ content | safe }}
    </main>
    <footer>
        footer
    </footer>

    <script src="/assets/js/script.js" type="module"></script>
</body>
</html>