# Eleventy build output
public/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store

.firebase
.firebaserc
firebase.json

# Environment files
.env
.env.local